<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Listar</title>
</head>
<body>
    <table>
        {% for esc in escuela %}
        <thead>
            <tr>
                <td>ID</td>
                <td>nombre</td>
                <td>Direccion</td>
                <td>Email</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{esc.id}}</td>
                <td>{{esc.nombre}}</td>
                <td>{{esc.direccion}}</td>
                <td>{{esc.email}}</td>
                <td><a href="/aplicacion/editarescuela/{{esc.id}}">Editar</a> --- <a href="/aplicacion/eliminarescuela/{{esc.id}}">Eliminar</a></td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</body>
</html>

