<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Listar</title>
</head>
<body>
    <table>
        {% for asig in asignatura %}
        <thead>
            <tr>
                <td>ID</td>
                <td>nombre</td>
                <td>Profesor</td>
                <td>Escuela</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{asig.id}}</td>
                <td>{{asig.nombre}}</td>
                <td>{{asig.profesor}}</td>
                <td>{{asig.escuela}}</td>

            </tr>
        </tbody>
        {% endfor %}
    </table>
</body>
</html>

